dark-blue = #2C3E50 // rgb(44, 62, 80)
bright-red = #FC4349 // rgb(252, 67, 73)
medium-grey = #D7DADB // rgb(215, 218, 219)
light-blue = #6DBCDB // rgb(109, 188, 219)
white = #FFFFFF // rgb(255, 255, 255)

html
  box-sizing border-box
  font-size 100%

*, *:before, *:after
  box-sizing inherit

h1, h2, h3, h4, h5, h6
  //font-weight normal
  margin 0
  padding 0

html, body, main#app, section.dashboard
  width 100%
  height 100%
  padding 0
  margin 0
  overflow-x hidden
  overflow-y auto
  font-family 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif
  background-color dark-blue
  color white
